# Firebase web app config
# Get these values from Firebase Console > Project Settings > Your apps > Web app
VITE_FIREBASE_API_KEY="AIzaSyDI-QkjpbuJLoSRjXfIWGLf2QqV6hAzxXQ",
VITE_FIREBASE_AUTH_DOMAIN="learnhub-d25bd.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="learnhub-d25bd",
VITE_FIREBASE_STORAGE_BUCKET="learnhub-d25bd.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID="1092550700888",
VITE_FIREBASE_APP_ID="1:1092550700888:web:99aac275a59fef6b403f2d",
